<div class="hello">
<div class="image1">
<%= image_tag "coOde.png",  class: "image1", width: "300px", height: "150px" %>
</div>





<%= image_tag "blackT1.jpg",  class: "image", width: "300px", height: "900px" %>
<div class="pic-ctn">
    <%= image_tag "hello1.jpeg", alt:"" ,class: "pic", width: "800px", height: "1000px" %>
    <%= image_tag "hello2.jpeg", alt:"" ,class: "pic", width: "800px", height: "1000px" %>
    <%= image_tag "hello3.jpeg", alt:"" ,class: "pic" , width: "800px", height: "1000px"%>
  
    <%= image_tag "hello5.jpeg", alt:"" ,class: "pic" , width: "1000px", height: "1000px"%>
  </div>
  <div class="sentence">
  持ってる服をもっとおしゃれに
  <br>
  デートで、ベストな服をきるために
  
  <br>
  あなたに似合う服を見つけよう
  
  </div>
  


<%= button_to "ログイン",  questions_index_path ,class:"logbtn"%>

<%= button_to "つかいかた", "/hello/use",class:"usebtn" %>
</div>
