
<div class="commentbox" >
<div class="comment1">
<h2>あなたには、ファッションセンスはありますか？</h2>
<br>
自分に似合う服がわからない。
<br>
デートでどういう服を着ていけばいいかわからない。
</div>
<div class="pic1">
<%= image_tag "use1.jpeg", alt:"" ,class: "pic1" , width: "600px", height: "900px"%>
</div>
<div class="pic2">
<%= image_tag "use2.jpeg", alt:"" ,class: "pic1" , width: "600px", height: "900px"%>
</div>
<br>
<div class="comment2">
<h2>ファッションに関する悩みを解決します。</h2>
</div>
<div class="comment3">
<h1>How to use?</h1>
</div>

<div class="comment4">
1.あなたが着ている服を投稿するだけ
<br>
2.シチュエーションごとにあなたのコーディネートに対してほかのユーザーからアドバイスをもらえます
<br>
3.ファッションに関して困ってるユーザーにアドバイスをあげることも！
</div>

<div class="pic-ctn1">
    <%= image_tag "slide1.jpg", alt:"" ,class: "pic", width: "900px", height: "600px" %>
    <%= image_tag "slide2.jpg", alt:"" ,class: "pic", width: "900px", height: "600px" %>
    <%= image_tag "slide3.jpg", alt:"" ,class: "pic" , width: "900px", height: "600px"%>
  
   
  </div>
</div>